*{
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}
.card{
    box-shadow:0px 1px 3px 0px;
    height:50%;
    width: 65%;
    border-radius: 10px;
    padding: 25px 25px 25px;
    background-color: white;
    
}
.left-flex{
    flex-basis: 50%;
}
.right-flex{
    flex-basis: 50%;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f4f9;
}
.card_div{
    height: 60%;
    width: auto;
    display: flex;
    padding-top: 3%;
}
.logo-div{
    height: 15%;
    width: 30%;
}
.signin{
    font-size: xx-large;
    padding-left: 20px;
    height: auto;
    width: auto;
}

.welcome{
    height: auto;
    padding-bottom: 3%;
    font-size: x-large;
}
.type-view{
    height: auto;
    padding-left: 20px;
    font-size: large;
    padding-top: 15px;

}
.input{
    height: 32px;
    width: 94%;
    padding: 7px;
    font-size: medium;
    background-color:#f0f4f9 ;
    border-radius: 6px;
    border: 2px solid #6a9fe1;
    outline: none;
}
.input-div{
    height: auto;
    padding-top: 15px;
}
.next-btn{
    height: 35px;
    width: 25%;
    border-radius: 10px; 
    background-color: #63a8ff;
    border:none;
    color: white;
    font-size: large;
}
.next-btn-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: auto;
    width: 50%;
    padding-left: 50%;
}
.input_div3{
    
    height: 32px;
    width: 94%;
    padding: 7px;
    font-size: medium;
    background-color:#f0f4f9 ;
    border-radius: 6px;
    border: 2px solid #6a9fe1;
    outline: none;

}
.otp-input-box{
    height: 32px;
    width: 7%;
    padding: 7px;
    font-size: large;
    background-color: #f0f4f9;
    border-radius: 6px;
    border: 2px solid #6a9fe1;
    outline: none;
}
.otp-container {
    display: flex;
    gap: 10px;
    justify-content: center; 
}
.otp-box{
    height: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}