* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #e0e6ed;
}
.div7-div1{
    display: flex;
    padding: 75px 0px 56px 100px;
}
.div7-div2{
    display: flex;
    padding: 0px 0px 71px 108px;
}
.div7-div2-box{
    box-shadow: 0px 0px 0px 0px;
    background-color: #b7d5c3bd;
    border-radius: 14px;
    width: 450px;
    height: 250px;
    padding: 40px;
}
.div7-div2-box2{
    box-shadow: 0px 0px 0px 0px;
    background-color: #b7d5c3bd;
    border-radius: 14px;
    width: 450px;
    height: auto;
    padding: 40px;
}
.div7-form{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.div7-content{
    display: flex;
    flex-basis: 50%;
}
.div7-div2-map{
    position: absolute;
    top: 52%;
    right: 45%;
}
iframe{
    border: 0;
    border-radius: 30px;
    width: 300px;
    height: 275px;
}
.div7-p1{
    height: auto;
    font-size: xx-large;
    font-weight: 700;
}
.div7-p2{
    height: auto;
    font-size: x-large;
    font-weight: 500;
    padding-bottom: 31px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-div-icon{
    width: 40px;
    height: 40px;
}
.input-text{
    width: 430px;
    height: 20px;
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: medium;
}
textarea{
    height: 51px;
    max-width: 430px;
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: medium;
}
.input-submit{
    height: 42px;
    border: none;
    background-color: #e1e2e3;
    font-size: medium;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
}
.box2-heading{
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
label{
    font-size: larger;
    font-weight: 500;
}
.input-submit:hover{
    background-color: white;
    color:black;
}
.header{
    background-color: white;

}
.success_message{
    right: 26%;
    position: fixed;
    background-color: #f0f4f9;
    width: 40%;
    height: 40%;
    z-index: 999;
    top: 33%;
    display: none;
    border-radius: 20px;
}
.success_message-div2{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.success_message-p{
    font-size: xx-large;
    font-weight: 500;

}
.success_message-img{
    width: 21px;
    height: 20px;
}
.success_message-div1{
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 20px 0px 0px;
}
.tick-gif{
    height: 100px;
    width: 100px;
    display: none;
}
.error-message{
    font-size: small;
    color: red;
    padding: 10px 0px 10px 15px;
}
/*  footer css */
.div7-div3{
    display: flex;
    justify-content: center;
    padding: 35px 0px;
}

.div7-footer{
    bottom: 0;
    position: relative;
    height: 250px;
    width: 85%;
    background-color: white;
    padding: 40px 0px;
    box-shadow: 0px 0px 0px 0px;
}

@media screen and (max-width:768px) {
    .div7-div2-map {
        top: 58%;
        right: 4%;
    }
    .div7-div2-box {
        width: 404px;
        height: 250px;
    }
    .div7-div2 {
        padding-left: 0px;
        justify-content: center;
        flex-direction: column;
        gap: 159px;
        align-items: center;
    }
    iframe{
        width: 287px;
        height: 240px;
    }
    .input-text {
        width: 384px;
        height: 18px;
        font-size: medium;
    }
    label {
        font-size: larger;
    }
    textarea {
        height: 30px;
        max-width: 384px;
        font-size: medium;
    }
    .div7-div2-box2{
        width: 404px;
    }
    /* success popup */
    .success_message-div1 {
        padding: 17px 18px 0px 0px;
    }
    .success_message-img {
        width: 18px;
        height: 18px;
    }
    .tick-gif {
        height: 95px;
        width: 95px;
    }
    .success_message-div2 {
        height: 180px;
        gap: 16px;
    }
    .success_message {
        width: 49%;
        height: 35%;
        right: 26%;
    }
    .success_message-p {
        font-size: x-large;
    }

}
@media screen and (max-width:562px) {
    .div7-div2 {
        padding-left: 0px;
        justify-content: center;
        flex-direction: column;
        gap: 159px;
        align-items: center;
    }
    .div7-div2-box{
        width: 215px;
        height: 193px;
    }
    .div7-div1 {
        padding: 61px 0px 54px 27px;
    }
    .div7-p2 {
        font-size: medium;
    }
    iframe {
        width: 255px;
        height: 200px;
    }
    .div7-div2-map {
        top: 64%;
        left: 17%;
    }
    .contact-div-icon {
        width: 27px;
        height: 27px;
    }
    .div7-p1 {
        font-size: x-large;
    }
    .input-text {
        width: 196px;
        height: 18px;
        font-size: medium;
    }
    label {
        font-size: medium;
    }
    textarea {
        height: 30px;
        max-width: 196px;
        font-size: medium;
    }
    .div7-div2-box2{
        width: 215px;
    }
    /* success popup */
    .success_message-div1 {
        padding: 14px 12px 0px 0px;
    }
    .success_message-img {
        width: 15px;
        height: 15px;
    }
    .tick-gif {
        height: 82px;
        width: 82px;
    }
    .success_message-div2 {
        height: 160px;
        gap: 10px;
    }
    .success_message {
        width: 77%;
        height: 32%;
        right: 12%;
    }
    .success_message-p {
        font-size: larger;
    }

}

@media screen and (max-width:320px) {
    .div7-div2 {
        padding-left: 0px;
        justify-content: center;
        flex-direction: column;
        gap: 159px;
        align-items: center;
    }
    .div7-div2-box{
        width: 215px;
        height: 193px;
    }
    .div7-div2-box2{
        width: 215px;
    }
    .div7-div1 {
        padding: 61px 0px 54px 27px;
    }
    .div7-p2 {
        font-size: medium;
    }
    iframe {
        width: 260px;
        height: 200px;
    }
    .div7-div2-map {
        top: 64%;
        left: 10%;
    }
    .input-text {
        width: 196px;
        height: 18px;
        font-size: smaller;
    }
    label {
        font-size: medium;
    }
    textarea {
        height: 30px;
        max-width: 196px;
        font-size: smaller;
    }
    /* success popup */
    .success_message-div1 {
        padding: 14px 12px 0px 0px;
    }
    .success_message-img {
        width: 15px;
        height: 15px;
    }
    .tick-gif {
        height: 82px;
        width: 82px;
    }
    .success_message-div2 {
        height: 160px;
        gap: 10px;
    }
    .success_message {
        width: 77%;
        height: 32%;
        right: 12%;
    }
    .success_message-p {
        font-size: larger;
    }
}

