* {
    padding: 0;
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.fade {
    animation: fade 2s ease-in-out infinite;
}
@keyframes fade {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}



.div1 {
    height: 95%;
    width: 100%;
    position: relative;
}

.background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

.menu-btn {
    height: 40px;
    width: 45px;
    display: none;
    border: none;
    background: none;
}
.menu-btn-div {
    display: none;
    height: auto;
    
}
.menu-btn-div2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    right: 49px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
    width: 24%;
    align-items: center;
    height: auto;
}

.logo {
    height: 63px;
    width: 100px;
}
.name-logo{
    display: block;
    font-size: x-large;
}
.logo-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header {
    height: auto;
    display: flex;
    padding: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-btn {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-right: 7%;
}

.btn {
    border: none;
    background: none;
    font-size: medium;
    font-weight: 500;
    height: 40px;
    width: 65px;
    cursor: pointer; 
}

.welcome-img-div {
    height: 75%;
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
}

.welcome-div {
    height: 30%;
    padding-top: 10%;
}

.welcome {
    animation: slideIn 1s ease-out;
    font-size: 40px;
    font-weight: 500;
    height: auto;
}

.welcome-quotes {
    font-size: large;
    animation: slideIn 1s ease-out;
    height: auto;
}
.dog-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.Explore-btn {
    animation: slideIn 1s ease-out;
    height: 45px;
    width: 42%;
    color: white;
    font-size: x-large;
    border-radius: 30px;
    border: none;
    background-color: #657fff;
    cursor: pointer;
}

.Explore-btn-div {
    padding-top: 20px;
    height: auto;
}

.div2 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80%;
    width: 94%;
    height: 30%;
    padding-left: 20px;
}

.card-container {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.card {
    box-shadow: none;
    width: 202px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    height: auto;
    overflow: hidden;
}

.card-img-div {
    display: flex;
    height: 63%;
    width: 86%;
    align-items: center;
    justify-content: center;
}

.card-content {
    padding: 10px;
    height: auto;
}

.card-p {
    height: auto;
    font-size: x-large;
    font-weight: 700;
    padding-bottom: 10px;
}
.services-content-animal-p{
    font-size: larger;
    font-weight: 500;
}
.background-shadow {
    position: absolute;
    bottom: 5%;
    background-color: white;
    height: 42%;
    width: 23%;
    right: 10%;
    border-radius: 100%;
    filter: blur(30px);
    z-index: -1;
}

.div3 {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8%;
    background-color: #e0e6ed;
}

.services-div {
    display: flex;
    flex-direction: row;
    height: auto;
    padding-top: 36px;
}

.services-p {
    font-size: xx-large;
    font-weight: bold;
    padding-left: 6%;
}

.services-div-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 7%;
    height: auto;
}

.services-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.services-content img {
    max-width: 100px;
    height: auto;
}

.services-content-animal {
    padding-left: 10px;
    height: auto;
}
.prev-btn, .next-btn {
    height: 26%;
    width: 59px;
    background-color: #c7c7c7f0;
    border: none;
    border-radius: 58px;
    cursor: pointer;
}

.prev-btn-div {
    display: flex;
    align-items: center;
    padding-right: 39px;
    cursor: pointer;
}

.next-btn-div {
    display: flex;
    align-items: center;
    padding-left: 39px;
    cursor: pointer;
}

.card-btn-logo-next, .card-btn-logo-prev {
    height: 75%;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}
.div4 {
    height: 80%;
    background-color: #b7d5c3;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.div4-div2{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.div4-div1-p{
    font-size: medium;
    font-weight: 600;
    color: #f15507;
    display: none;
    padding-top: 16px;
}
.div4-div1{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div4-img{
    width: 86%;
    height: 96%;
}
.div4-right-div {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}
.div4-left-div{
    padding-left: 43px;
    display: flex;
    flex-basis: 50%;
    height: 410px;
}
.div4-p{
    font-size: 40px;
    font-weight: 600;
    height: auto;
    padding: 102px 0px 43px 0px;
}
.div4-p2{
    font-size: larger;
    height: auto;
}
.see-more{
    font-size: larger;
    color: white;
    background-color: black;
    width: 25%;
    height: 52px;
    border: none;
    border-radius: 10px;
}
.see-more-div {
    padding-top: 10%;
    height: auto;
    display: flex;
    
}
.div5{
    display: flex;
    height: auto;
    padding: 10% 0 5% 0;
    gap: 20px;
    flex-direction: column;
    background: linear-gradient(to bottom left, #b7d5c3, #d7fede, #e0fee5, transparent);
}
.div5-div1{
    display: flex;
    height: auto;
    align-items: center;
    padding-left: 108px;
}
.div5-div2{
    display: flex;
    gap: 10px;
}
.div-left-div5{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding-left: 108px;
}
.div-right-div5{
    display: flex;
    flex-basis: 50%;
    height: auto;
    justify-content: center;
}
.div5-p{
    font-size: 40px;
    font-weight: 600;
    height: auto;
}
.div5-p2{
    font-size: x-large;
    height: auto;
    padding-top: 50px;
}
.div5-img{
    border-radius: 10px;
}
.div-img-div5{
    height: 234px;
}
.div6{
    display: flex;
    height: 80%;
    flex-direction: column;
    padding-top: 10%;
    background: linear-gradient(to top left, #9ffdaf, transparent);
}
.div-right-div6{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    height: auto;
}
.div6-right-div1{
    height: auto;
}
.div6-right-div2{
    height: 10%;
    display: flex;
    align-items: center;
}
.div6-div2{
    display: flex;
    overflow: hidden;
}
.div6-div1{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}
.div6-p{
    height: auto;
    font-size: xx-large;
    font-weight: 600;
}
.div6-right-p1{
    height: auto;
    font-size: xx-large;
    font-weight: 600;
}
.div6-right-p2{
    padding-top: 20px;
    height: auto;
    font-size: x-large;
    font-weight: 400;
}
.div-left-div6{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    
}
.div6-right-img1{
    object-fit: cover;
}
.slide_img{
    display: none;
}
.div6-img-slides{
    height: 80%;
    border-radius: 10px;
}
.div7-bg{
    height: 100%;
    width: 100%;
    position: relative;
}
.div7-div1{
    display: flex;
    height: auto;
    padding: 75px 0px 54px 108px;
}
.div7-div2{
    display: flex;
    justify-content: center;
}
.div7-div2-box{
    box-shadow: 0px 0px 0px 0px;
    background-color: #b7d5c3bd;
    border-radius: 14px;
    width: 47%;
    height: 35%;
    padding: 40px;
}
.div7-div2-map{
    height: 35%;
    position: absolute;
    top: 41%;
    right: 11%;
}
iframe{
    border: 0;
    border-radius: 30px;
    width: 100%;
}
.div7-p1{
    height: auto;
    font-size: xx-large;
    font-weight: 600;
}
.div7-p2{
    height: auto;
    font-size: x-large;
    font-weight: 500;
    width: auto;
    padding-bottom: 31px;
}
.div7-footer{
    position: absolute;
    height: 45%;
    width: 85%;
    background-color: white;
    top: 85%;
    padding-top: 40px;
}
.div7-div3{
    display: flex;
    justify-content: center;
    height: auto;
}
.div7-footer-div1{
    display: flex;
    flex-direction: column;
}
.div7-footer-p1{
    height: auto;
    font-size: x-large;
    font-weight: 600;
}
.footer-div1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}
.div7-footer-p2{
    height: auto;
    font-size: larger;
    font-weight: 500;
}
.div7-footer-p3{
    padding-top: 10px;
}
.div7-footer-a{
    padding-top: 10px;
    text-decoration: none;
    color: black;
}
@media screen and ( max-width:1024px ) {
    .div2{
        top: 80%;
    }
    .welcome-img-div {
        padding-top: 49px
    }
}
@media screen and ( max-width:768px ) {
    .div1 {
        height: 90%;
    }
    .div2{
        top: 75%;
    }
    .services-content img {
        padding: 10px;
    }
    .menu-btn{
        display:block;
        
    }
    .header-btn{
        display: none;
    }
    .dog-img{
        display: none;
    }
    .services-div-content {
        align-items: normal;
        flex-direction: column;
        padding-left: 35px;
    }
    .background-shadow{
        display: none;
    }
    .background-img{
        height: 100%;
    }
    .welcome-img-div {
        padding-top: 0px;
        padding-bottom: 35px;
    }
    .welcome{
        font-size: 38px;
    }
    .welcome-quotes {
        font-size: medium;
    }
    .welcome-div {
        padding-left: 24px;
    }
    .div3{
        height: 95%;
        padding-top: 0%;
    }
    .div7-div2-map{
        top: 45%;
        right: 0%;
    }
    .footer-div1 {
        flex-direction: column;
    }
    .div7-footer-p2 {
        padding-top: 10px;
    }
    .div7-footer {
        height: 58%;
    }
    .div7-footer{
        padding: 15px 0px 0px 21px;
    }
    .div5-p2 {
        font-size: large;
        padding-top: 29px;
    }
    .div-right-div5{
        align-items: center;
    }
    .div5-p {
        font-size: 33px;
    }
    .see-more{
        width: 30%;
        height: 48px;
    }
    .div4-p {
        font-size: 33px;
    }
    .div-img-div5 {
        height: 197px;
    }
    .div6-right-p1 {
        font-size: x-large;
    }
    .div6-right-p2 {
        font-size: large;
    }
    iframe{
        width: 94%;
    }
}
@media screen and (max-width: 562px){

    .div1 {
        height: 70%;
    }
    .div2{
        top: 55%;
    }
    .div3 {
        height: 80%;
    }
    .services-content img {
        max-width: 90px;
        height: 64%;
    }
    .background-img {
        height: 100%;
    }
    .name-logo{
        font-size: large;
    }
    .welcome-img-div {
        padding-bottom: 35px;
    }
    .Explore-btn{
        height: 52px;
        width: 63%;
    }
    .welcome-quotes {
        font-size: x-small;
    }
    .welcome{
        font-size: 24px;
    }
    .div5-div1 {
        padding-left: 50px;
    }
    .div5-div2 {
        flex-direction: column-reverse;
    }
    .div-left-div5 {
        padding: 28px;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .div-right-div5 {
        align-items: center;
    }
    .div-img-div5 {
        height: 158px;
    }
    .div5-p2 {
        font-size: medium;
    }
    .div5-p {
        font-size: 20px;
    }
    .div4-p2 {
        font-size: smaller;
    }
    .div4-p {
        font-size: 20px;
        padding: 41px 0px 43px 0px;
    }
    .see-more {
        font-size: smaller;
        width: 70%;
        height: 33px;
    }
    .div4-div2 {
        flex-direction: column;
        
    }
    .div4-div1-p{
        display: block;
    }
    .div6-p {
        font-size: medium;
    }
    .div7-footer{
        padding: 15px 0px 0px 21px;
    }
    .footer-div1 {
        display: flex;
        flex-direction: column;
    }
    .div7-footer {
        height: 58%;
    }
    .div7-footer-p2 {
        padding-top: 10px;
    }
    .div7-div2-box {
        width: 60%;
        padding: 25px;
    }
    .div7-p2 {
        font-size: medium;
    }
    .div7-div2-map {
        height: 25%;
        top: 50%;
        left: 17%;
    }
    iframe {
        width: 81%;
    }
    .div6-div2 {
        flex-direction: column;
    }
    .div-left-div6 {
        height: 50%;
    }
    .div6-img-slides {
        height: 75%;
    }
    .div6-right-p1 {
        font-size: medium;
    }
    .div6-right-p2 {
        font-size: smaller;
    }
    .div6-right-div2 {
        justify-content: center;
        height: 20%;
        padding-top: 10px;
    }   
    .see-more-div{
        justify-content: center;
    }
    .div7-div1{
        padding: 75px 0px 54px 37px;
    }
    .div7-p1 {
        font-size: medium;
    }
    .div7-footer-p1 {
        font-size: larger;
    }
    .div7-footer-p2 {
        padding-top: 10px;
        font-size: medium;
    }
    .div7-footer-p3{
        font-size: smaller;
    }
    .div7-footer-a {
        font-size: small;
    }
    .services-p {
        font-size: larger;
    }
    .card-p{
        font-size: medium;
    }
    .services-content-animal-p {
        font-size: smaller;
    }
    .div4-right-div{
        padding: 23px;
    }
    .div-right-div6 {
        padding: 23px;
    }
}
@media screen and (max-width:320px){
    .welcome {
        font-size: 21px;
    }
    .div1 {
        height: 60%;
    }
    .div2{
        top: 45%;
    }
    .div3 {
        height: 80%;
        padding-top: 0%;
    }
    .services-content img {
        height: 62%;
    }
    .name-logo {
        display: none;
    }
    .Explore-btn{
        font-size: medium;
        height: 33px;
        width: 43%;
    }
    .div5-div1 {
        padding-left: 50px;
    }
    .div5-div2 {
        flex-direction: column-reverse;
    }
    .div-left-div5 {
        padding: 23px;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .div-right-div5 {
        align-items: center;
    }
    .div-img-div5 {
        height: 158px;
    }
    .div5-p2 {
        font-size: medium;
    }
    .div5-p {
        font-size: 20px;
    }
    .div4-p2 {
        font-size: smaller;
    }
    .div4-p {
        font-size: 20px;
    }
    .see-more {
        font-size: smaller;
        width: 70%;
        height: 33px;
    }
    .div4-div2 {
        flex-direction: column;
        
    }
    .div4-div1-p{
        display: block;
    }
    .div6-p {
        font-size: medium;
    }
    .div7-footer{
        padding: 15px 0px 0px 21px;
    }
    .footer-div1 {
        flex-direction: column;
    }
    .div7-footer {
        height: 58%;
    }

    .div7-div2-box {
        width: 60%;
        padding: 25px;
    }
    .div7-p2 {
        font-size: smaller;
    }
    .div7-p1 {
        font-size: medium;
    }
    .div7-div2-map {
        height: 25%;
        top: 50%;
        left: 17%;
    }
    iframe {
        width: 81%;
    }
    .div6-div2 {
        flex-direction: column;
    }
    .div-left-div6 {
        height: 50%;
    }
    .div6-img-slides {
        height: 75%;
    }
    .div6-right-p1 {
        font-size: medium;
    }
    .div6-right-p2 {
        font-size: smaller;
    }
    .div6-right-div2 {
        justify-content: center;
        height: 20%;
        padding-top: 10px;
        
    }   
    .see-more-div{
        justify-content: center;
    }
    .div7-div1{
        padding: 75px 0px 54px 37px;
    }
    .div7-footer-p1 {
        font-size: larger;
    }
    .div7-footer-p2 {
        padding-top: 10px;
        font-size: medium;
    }
    .div7-footer-p3{
        font-size: smaller;
    }
    .div7-footer-a {
        font-size: small;
    }
    .services-p {
        font-size: larger;
    }
    .card-p{
        font-size: medium;
    }
    .services-content-animal-p {
        font-size: smaller;
    }
    .div4-right-div{
        padding: 23px;
    }
    .div-right-div6 {
        padding: 23px;
    }
    .menu-btn-div2{
        top: 17%;
        right: 64px;
    
    }
} 
