* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
body {
    background-color: #e0e6ed;
}

.div1 {
    height: 95%;
    width: 100%;
    position: relative;
}

.background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.logo {
    height: 63px;
    width: 100px;
}

.logo-div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: x-large;
}

.header {
    height: auto;
    display: flex;
    padding: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-btn {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-right: 10%;
}

.btn {
    border: none;
    background: none;
    font-size: medium;
    font-weight: 500;
}

.welcome-img-div {
    height: 75%;
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
}

.welcome-div {
    height: 30%;
    padding-top: 10%;
}

.welcome {
    animation: slideIn 1s ease-out; 
    font-size: 40px;
    font-weight: 500;
}

.welcome-quotes {
    font-size: large;
    animation: slideIn 1s ease-out; 
}

.Explore-btn {
    animation: slideIn 1s ease-out; 
    height: 45px;
    width: 42%;
    font-size: x-large;
    border-radius: 30px;
    border: none;
    background-color: #657fff;
}

.Explore-btn-div {
    padding-top: 20px;
}

.div2 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 78%;
    width: 100%;
    height: 30%;
    
}

.card-container {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.card {
    box-shadow: 0px 0px 0px 0px;
    width: 202px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    height: auto;
    overflow: hidden;
}
.card-img-div{
    display: flex;
    height: 62%;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.card-content {
    padding: 10px;
}
.card-img-div{
    display: flex;
    height: 63%;
    width: 86%;
}

.card-p {
    height: auto;
    font-size: larger;
    font-weight: 400;
    padding-top: 17px;
}

.background-shadow {
    position: absolute;
    bottom: 5%;
    background-color: white;
    height: 42%;
    width: 23%;
    right: 10%;
    border-radius: 100%;
    filter: blur(45px);
    z-index: -1;
}

.div3 {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 17%;
}

.services-div {
    display: flex;
    flex-direction: row;
}

.services-p {
    font-size: xx-large;
    font-weight: bold;
    padding-left: 8%;
}

.services-div-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 7%;
}

.services-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.services-content img {
    max-width: 100px; 
}

.services-content-animal {
    padding-left: 10px;
}

.div4 {

    background-color: #a9a9a921;
}

.prev-btn, .next-btn {
    height: 26%;
    width: 59px;
    background-color: #c7c7c7f0;
    border: none;
    border-radius: 58px;
}

.prev-btn-div {
    display: flex;
    align-items: center;
    padding-right: 40px;
}
.next-btn-div {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.card-btn-logo-next, .card-btn-logo-prev {
    height: 75%;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}