* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #e0e6ed;
}

.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 65px 141px 65px;
    gap: 25px;
    height: 1000px;
    background-image: linear-gradient(to right, #5dacc4, #47c579, #30c954);
}
.div1-heading{
    padding-bottom: 30px;
    font-size: xx-large;
    font-weight: 700;
}
.div1-heading2{
    font-size: xx-large;
    font-weight: 700;
}
.div1-p1{
    font-size: larger;
    text-align: justify;
}
.div1-p2{
    font-size: larger;
    text-align: justify;
}
.explore-img{
    height: 400px;
    width: 575px;
    border-radius:20px ;
}
.content2-div1{
    display: flex;
    gap: 29px;
    flex-direction: column;
}
.div1-content{
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-radius: 20px;
    gap: 24px;
}
.div1-content2{
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
    border-radius: 20px;
    gap: 24px;
}
/*  footer css */
.div7-div3{
    display: flex;
    justify-content: center;
    padding: 35px 0px;
}

.div7-footer{
    position: relative;
    height: 250px;
    width: 85%;
    background-color: white;
    padding: 40px 0px;
    box-shadow: 0px 0px 0px 0px;
    bottom: 130px;
}
.div1-img{
    display: flex;
    justify-content: center;
}
.header{
    background-color: white;

}
@media screen and (max-width:768px) {
    .div1-content {
        flex-direction: column;
    }
    .div1 {
        padding: 20px 18px;
        gap: 10px;
        height: auto;
    }
    .explore-img {
        height: 248px;
        width: 329px;
    }
    .div1-p1 {
        font-size: large;
    }
    .div1-content2 {
        flex-direction: column;
        padding: 30px 30px 57px 30px;
    }
    .div1-p2 {
        font-size: large;
    }
    .div1-heading {
        padding-bottom: 23px;
        font-size: x-large;
    }
    .div1-heading2 {
        padding-bottom: 23px;
        font-size: x-large;
    }
    .div1-img{
        justify-content: flex-start;
    }
    .div7-footer{
        bottom: 77px;
    }
}
@media screen and (max-width:562px) {
    .div1-content {
        flex-direction: column;
    }
    .div1 {
        padding: 20px 18px;
        gap: 10px;
        height: auto;
    }
    .explore-img {
        height: 225px;
        width: 277px;
    }
    .div1-p1 {
        font-size: large;
    }
    .div1-content2 {
        flex-direction: column;
    }
    .div1-p2 {
        font-size: large;
    }
    .div1-heading {
        padding-bottom: 23px;
        font-size: x-large;
    }
    .div1-heading2 {
        padding-bottom: 23px;
        font-size: x-large;
    }
    .div7-footer{
        bottom: 58px;
    }
}

@media screen and (max-width:320px) {
    .div1-content {
        flex-direction: column;
    }
    .div1 {
        padding: 20px 18px;
        gap: 10px;
        height: auto;
    }
    .explore-img {
        height: 181px;
        width: 213px;
    }
    .div1-p1 {
        font-size: medium;
    }
    .div1-content2 {
        flex-direction: column;
    }
    .div1-p2 {
        font-size: medium;
    }
    .div1-heading {
        padding-bottom: 13px;
        font-size: larger;
    }
    .div1-heading2 {
        padding-bottom: 13px;
        font-size: larger;
    }
    .div7-footer{
        bottom: 58px;
    }
}