


.div7-footer-div1{
    display: flex;
    flex-direction: column;
}
.div7-footer-div3{
    display: flex;
    flex-direction: column;
    width: 230px;
}
.div7-footer-div2{
    display: flex;
}
.div7-footer-p1{
    height: fit-content;
    font-size: x-large;
    font-weight: 600;
    padding-top: 15px;
}
.footer-div1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}
.div7-footer-p2{
    height: auto;
    font-size: larger;
    font-weight: 500;
}
.div7-footer-p3{
    padding-top: 10px;
}
.div7-footer-a{
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

.div7-footer-a:hover{
    font-weight: 600;
}
.social-media{
    height: 35px;
    width: 35px;
}
.social-media2{
    height: 40px;
    width: 40px;
}
.footer-img{
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.logo1 {
    height: 63px;
    width: 70px;
}
.icon-btn{
    display: flex;
    gap: 25px;
    padding: 59px;
    justify-content: flex-end;
    align-items: center;
    height: auto;
}
@media screen and ( max-width:768px ){
    .footer-div1 {
        flex-direction: column;
    }
    .div7-footer-p2 {
        padding-top: 10px;
    }
    .div7-footer {
        height: 58%;
    }
    .div7-footer{
        padding: 15px 0px 0px 21px;
    }
}
@media screen and (max-width: 562px){

    .div7-footer{
        padding: 15px 0px 0px 21px;
    }
    .footer-div1 {
        display: flex;
        flex-direction: column;
    }
    .div7-footer {
        height: 58%;
    }

    .div7-footer-p1 {
        font-size: larger;
    }
    .div7-footer-p2 {
        padding-top: 10px;
        font-size: medium;
    }
    .div7-footer-p3{
        font-size: smaller;
    }
    .div7-footer-a {
        font-size: small;
    }
    .social-media2 {
        height: 35px;
        width: 36px;
    }
    .social-media {
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-width:320px){
    .div7-footer-p1 {
        font-size: larger;
    }
    .div7-footer-p2 {
        padding-top: 10px;
        font-size: medium;
    }
    .div7-footer-p3{
        font-size: smaller;
    }
    .div7-footer-a {
        font-size: small;
    }
    .div7-footer{
        padding: 15px 0px 0px 21px;
    }
    .footer-div1 {
        flex-direction: column;
    }
    .div7-footer {
        height: 65%;
    }
    .social-media {
        height: 20px;
        width: 20px;
    }
    .social-media2 {
        height: 23px;
        width: 24px;
    }
    .icon-btn {
        padding: 25px;
    }
    .logo1 {
        height: 48px;
        width: 46px;
    }
    .contact-div-icon {
        width: 25px;
        height: 25px;
    }
    .div7-p1 {
        font-size: x-large;
    }
}