.menu-btn {
    height: 40px;
    width: 45px;
    display: none;
    border: none;
    background: none;
    margin-right: 15px;
}
.menu-btn-div {
    display: none;
    height: auto;
    
}
.menu-btn-div2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 74px;
    right: 43px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
    width: 40%;
    align-items: center;
    height: 200px;
    justify-content: space-evenly;
}

.logo {
    height: 63px;
    width: 70px;
}
.name-logo{
    display: block;
    font-size: x-large;
}
.logo-div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.header {
    height: auto;
    display: flex;
    padding: 15px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #00000029;
    transition: padding 0.3s;
    box-shadow: 0px 0px 5px 0px;
}
.content {
    padding: 16px;
  }
  .sticky {
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  
.header-btn {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 40px;
}
.menu-img{
    height: 40px;
}
.btn {
    display: flex;
    font-size: large;
    width: 96px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    height: 33px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
@media screen and ( max-width:768px ) {

    .menu-btn{
        display:block;
        
    }
    .header-btn{
        display: none;
    }
    .btn{
        font-size: larger;
    }
}
@media screen and (max-width: 562px) {
    .name-logo{
        font-size: large;
    }
    .logo {
        height: 60px;
        width: 63px;
    }
    .menu-img {
        height: 35px;
    }
}

@media screen and (max-width:320px){

    .menu-btn-div2{
        top: 75px;
        right: 43px;
    
    }
    .name-logo {
        display: none;
    }
    .header {
        padding: 10px 0px;
    }
    .menu-img {
        height: 33px;
    }
    .logo {
        height: 53px;
        width: 52px;
    }
} 
