{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
</head>
<body>
    <div class="div1"></div>
        {% include "header.html" %}
    </div>
    <div class="div7-div3">
        <div class="div7-footer">
            {% include "footer.html" %}
        </div>
    </div>
    <script>
        window.onscroll = function() {myFunction()};
        var header = document.getElementById("header");
        var sticky = header.offsetTop;
        
        function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                }
                else {
                    header.classList.remove("sticky");
                }
            
        }
        
    </script>
</body>
</html>