{% load  static %} 
<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Dashboard.css' %}">
       
    </head>
    <body>
        <div>
            <img  src="{% static 'image/3150060.jpg' %}" class="background-img" >
        
           <header class="header">
                <div class="logo-div">
                    <img src="{% static 'image/smartpet.png' %}" alt="logo"  class="logo">
                    <p >Smartpet</p>
                </div>
                <div class="header-btn">
                    <div>
                        <button class="btn">Home</button>
                    </div>
                    <div>
                        <button class="btn">About</button>
                    </div>
                    <div>
                        <button class="btn">Gallary</button>
                    </div>
                    <div>
                        <button class="btn">Contact</button>
                    </div>
                    <div>
                        <button class="btn">Cart</button>
                    </div>
                    
                </div>
           </header>
           <div class="welcome-img-div">
            
                <div class="welcome-div">
                    
                        <p class="welcome">Welcome to SMARTPETS</p>
                    
                        <button class="Explore-btn">
                            Explore More
                        </button>
                    
                </div>
                <div >
                    <img class="dog-img" src="{% static 'image/pet.png' %}" >
                </div>
            </div> 
            
        </div>
        <div class="card">

        </div>   

    </body>
</html>