{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Dashboard.css' %}">
    <meta name="viewport"content="width=device-width,initial-scale=1.0">
</head>
<body>
    <div class="div1">
        <img src="{% static 'image/3150060.jpg' %}" class="background-img" >
    
        <header class="header" id="header">
            <div class="logo-div">
            <div>
                <img src="{% static 'image/smartpet.png' %}" alt="logo" class="logo">
            </div>
                
                <p>Smartpet</p>
                <div class="background-shadow"></div>
            </div>
            <div >
                <div  class="header-btn" id="header_btn">
                    <button class="btn">Home</button>
                    <button class="btn" onclick="card_container">About</button>
                    <button class="btn">Gallary</button>
                    <button class="btn">Contact</button>
                    
                </div>
                <button class="menu-btn" id="menu_btn" onclick="openmenu()">menu</button>
                
            </div>
        </header>
        <div class="menu-btn-div" id="menu_btn_div">
            <div class="menu-btn-div2">
                <button class="btn">Home</button>
                <button class="btn">About</button>
                <button class="btn">Gallary</button>
                <button class="btn">Contact</button>
            </div>
        </div>
        <div class="welcome-img-div">
            <div class="welcome-div">
                <p class="welcome">Welcome to SMARTPETS</p><br>
                <p class="welcome-quotes">It’s impossible to have a human friend without questions</p>
                <p class="welcome-quotes"> - but it’s not impossible with pets</p>
                <div class="Explore-btn-div">
                    <button class="Explore-btn">Explore More</button>
                </div>
            </div>
            <img class="dog-img" src="{% static 'image/pet.png' %}" >
        </div> 
    </div>
    <div class="div2" id="card_container">
        <div class="prev-btn-div">
            <button class="prev-btn">
                <img class="card-btn-logo-prev" src="{% static 'image/prev.png' %}" >
            </button>
        </div>
        <div class="card-container" id="card_container_inner">
           
        </div>
        <div class="next-btn-div">
            <button class="next-btn" >
                <img class="card-btn-logo-next" src="{% static 'image/next.png' %}" >
            </button>
        </div>
    </div>
    <div class="div3">
        <div class="services-div">
            <p class="services-p">Services</p>
        </div>
        <div class="services-div-content">
            <div class="services-content">
                <img src="{% static 'image/animal.png' %}" >
                <div class="services-content-animal">
                    <p class="card-p">Animal</p>
                    <p class="services-content-animal-p">All our animals love</p>
                    <p class="services-content-animal-p"> to be petted.</p>
                </div>
            </div>
            <div class="services-content">
                <img src="{% static 'image/guide.png' %}" >
                <div class="services-content-animal">
                    <p class="card-p">Guide</p>
                    <p class="services-content-animal-p">We have a large selection </p>
                    <p class="services-content-animal-p">of pets.</p>
                </div>
            </div>
            <div class="services-content">
                <img src="{% static 'image/pet care.png' %}" >
                <div class="services-content-animal">
                    <p class="card-p">Pet Care</p>
                    <p class="services-content-animal-p">We care about the  </p>
                    <p class="services-content-animal-p"> health of all animals.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="div4">
        <div class="div4-div1">
            <p class="div4-div1-p">SmartPet</p>
        </div>
        <div class="div4-div2">
            <div class="div4-left-div">
                <img class="div4-img" src="{% static 'image/pet3.png' %}" >
            </div>
            <div class="div4-right-div">
                <p class="div4-p">The smarter way to shop your pet</p>
                <p class="div4-p2">Streamline your shopping experience with expert recommendations and easy-to-navigate categories,
                     ensuring your furry friend gets the best care without the hassle.
                     Shop smarter, save more, and keep your pet happy and healthy!
                </p>
                <div class="see-more-div">
                    <button class="see-more">
                        See More
                    </button>
                </div>
            </div>
        </div>
    </div> 
    <div class="div5">
        <div class="div5-div1">
            <p class="div5-p">
                About Us
            </p>
        </div>
        <div class="div5-div2">
            <div class="div-left-div5">
                
                <p class="div5-p2">• At SmartPets, we're more than just a pet shop we're a community of pet lovers dedicated to providing the best for our furry, feathered, and scaly friends.</p>
                <p class="div5-p2">• Our journey began with a simple belief: pets are family, and they deserve nothing but the best.</p>
            </div >
            <div class="div-right-div5">
                <div class="div-img-div5">
                    <img class="div5-img" src="{% static 'image/pet7.jpg' %}" >
                </div>
            
            </div>
        </div>
    </div>
    <div class="div6">
        <div class="div6-div1">
            <p class="div6-p">Join the SmartPets Family Today!</p>
        </div>
        <div class="div6-div2">
            <div class="div-right-div6">
                
            </div>
            <div class="div-left-div6">
                <p class="div6-left-p1">Download SMARTPETS App Today!</p>
                <p class="div6-left-p2"> Because at SmartPets, we know that happy pets make happy homes.</p>
            </div>
        </div>
    </div>  
    <div class="div7">
        <div class="div7-bg">
            <img src="{% static 'image/3150060.jpg' %}" class="background-img" >
        </div>
    </div>
    <script>
            const cardContainer = document.getElementById("card_container_inner");
            const itemsPerPage = 2;
            let currentPage = 0;
            let cards = [];
        
            async function fetchCard() {
                const response = await fetch("http://pashumart.seasense.in/api/mobile-animals/");
                cards = await response.json();
                renderCards();
            }
        
            function renderCards() {
                cardContainer.innerHTML = ''; 
                const startIndex = currentPage * (itemsPerPage-1);
                const endIndex = (startIndex+1) + (itemsPerPage+2);
                const cardsToShow = cards.slice(startIndex, endIndex);
                
                cardsToShow.forEach(card => {
                    const cardElement = document.createElement('div');
                    cardElement.className = 'card';
                    cardElement.innerHTML = 
                        `<div class="card-content">
                            <p class="card-p">${card.name}</p>
                        </div>
                        <div class="card-img-div">
                            <img class="card-img" src="http://pashumart.seasense.in/${card.photo}/">
                        </div>`;
                    cardContainer.appendChild(cardElement);
                });
            }
        
            function showNextPage() {
                if ((currentPage + 1) * (itemsPerPage) < cards.length) {
                    currentPage++;
                    renderCards();
                }
            }
        
            function showPreviousPage() {
                if (currentPage > 0) {
                    currentPage--;
                    renderCards();
                }
            }
        
            document.querySelector('.next-btn').addEventListener('click', showNextPage);
            document.querySelector('.prev-btn').addEventListener('click', showPreviousPage);
        
            fetchCard();

            function openmenu(){
                
                if (document.getElementById("menu_btn_div").style.display ==="block")
                {   
                    document.getElementById("menu_btn_div").style.display="none";
                }else
                {
                    document.getElementById("menu_btn_div").style.display="block";
                }
                
            }

            
    </script>
</body>
</html>