{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Dashboard.css' %}">
</head>
<body>
    <div class="div1">
        <img src="{% static 'image/3150060.jpg' %}" class="background-img" >
    
        <header class="header">
            <div class="logo-div">
                <img src="{% static 'image/smartpet.png' %}" alt="logo" class="logo">
                <p>Smartpet</p>
                <div class="background-shadow"></div>
            </div>
            <div class="header-btn">
                <button class="btn">Home</button>
                <button class="btn">About</button>
                <button class="btn">Gallary</button>
                <button class="btn">Contact</button>
                <button class="btn"></button>
            </div>
        </header>
        <div class="welcome-img-div">
            <div class="welcome-div">
                <p class="welcome">Welcome to SMARTPETS</p><br>
                <p class="welcome-quotes">It’s impossible to have a human friend without questions</p>
                <p class="welcome-quotes"> - but it’s not impossible with pets</p>
                <div class="Explore-btn-div">
                    <button class="Explore-btn">Explore More</button>
                </div>
            </div>
            <img class="dog-img" src="{% static 'image/pet.png' %}" >
        </div> 
    </div>
    <div class="div2" id="card_container">
        <div class="prev-btn-div">
            <button class="prev-btn">
                <img class="card-btn-logo-prev" src="{% static 'image/prev.png' %}" >
            </button>
        </div>
        <div class="card-container" id="card_container_inner">
           
        </div>
        <div class="next-btn-div">
            <button class="next-btn" >
                <img class="card-btn-logo-next" src="{% static 'image/next.png' %}" >
            </button>
        </div>
    </div>
    <div class="div3">
        <div class="services-div">
            <p class="services-p">Services</p>
        </div>
        <div class="services-div-content">
            <div class="services-content">
                <img src="{% static 'image/animal.png' %}" >
                <div class="services-content-animal">
                    <p class="card-p">Animal</p>
                    <p class="services-content-animal-p">All our animals love</p>
                    <p class="services-content-animal-p"> to be petted.</p>
                </div>
            </div>
            <div class="services-content">
                <img src="{% static 'image/guide.png' %}" >
                <div class="services-content-animal">
                    <p class="card-p">Guide</p>
                    <p class="services-content-animal-p">We have a large selection </p>
                    <p class="services-content-animal-p">of pets.</p>
                </div>
            </div>
            <div class="services-content">
                <img src="{% static 'image/pet care.png' %}" >
                <div class="services-content-animal">
                    <p class="card-p">Pet Care</p>
                    <p class="services-content-animal-p">We care about the  </p>
                    <p class="services-content-animal-p"> health of all animals.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="div4">
        
    </div>   
    <script>
            const cardContainer = document.getElementById("card_container_inner");
            const itemsPerPage = 2;
            let currentPage = 0;
            let cards = [];
        
            async function fetchCard() {
                const response = await fetch("http://pashumart.seasense.in/api/mobile-animals/");
                cards = await response.json();
                renderCards();
            }
        
            function renderCards() {
                cardContainer.innerHTML = ''; 
                const startIndex = currentPage * (itemsPerPage-1);
                const endIndex = (startIndex+1) + (itemsPerPage+2);
                const cardsToShow = cards.slice(startIndex, endIndex);
                
                cardsToShow.forEach(card => {
                    const cardElement = document.createElement('div');
                    cardElement.className = 'card';
                    cardElement.innerHTML = 
                        `<div class="card-content">
                            <p class="card-p">${card.name}</p>
                        </div>
                        <div class="card-img-div">
                            <img class="card-img" src="http://pashumart.seasense.in/${card.photo}/">
                        </div>`;
                    cardContainer.appendChild(cardElement);
                });
            }
        
            function showNextPage() {
                if ((currentPage + 1) * itemsPerPage < cards.length) {
                    currentPage++;
                    renderCards();
                }
            }
        
            function showPreviousPage() {
                if (currentPage > 0) {
                    currentPage--;
                    renderCards();
                }
            }
        
            document.querySelector('.next-btn').addEventListener('click', showNextPage);
            document.querySelector('.prev-btn').addEventListener('click', showPreviousPage);
        
            fetchCard();
    </script>
</body>
</html>