{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

<div class="div7-footer">
    <div class="footer-div1">
        <div class="div7-footer-div1">
            <p class="div7-footer-p1">SmartPets</p>
        </div>
        <div class="div7-footer-div1">
            <p class="div7-footer-p2">Quick Link</p>
            <a class="div7-footer-a" href="#">Home</a>
            <a class="div7-footer-a" href="#">Service</a>
            <a class="div7-footer-a" href="#">About Us</a>
            <a class="div7-footer-a" href="#">Contact</a>
        </div>
        <div class="div7-footer-div1">
            <p class="div7-footer-p2">Opening Hours</p>
            <p class="div7-footer-p3">Mon Fri: 9:00 AM 8:00 PM </p>
            <p class="div7-footer-p3">Sat Sun: 10:00 AM - 6:00 PM</p>
        </div>
        <div class="div7-footer-div1">
            <p class="div7-footer-p2">Legal</p>
            <a class="div7-footer-a" href="#">Terms & Conditions</a>
            <a class="div7-footer-a" href="#">Privacy Policy</a>
            <a class="div7-footer-a" href="#">Return & Refund Policy</a>
        </div>
    </div>
</div>