{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">


    <div class="footer-div1">
        <div class="div7-footer-div2">
            <div class="footer-img"> 
                <img src="{% static 'image/logo.png' %}" alt="logo" class="logo1">
            </div>
            <p class="div7-footer-p1">SmartPets</p>
        </div>
        <div class="div7-footer-div1">
            <p class="div7-footer-p2">Quick Link</p>
            <a class="div7-footer-a" href="{% url 'dashboard' %}">Home</a>
            <a class="div7-footer-a" href="{% url 'service' %}">Service</a>
            <a class="div7-footer-a" href="{% url 'aboutus' %}">About Us</a>
            <a class="div7-footer-a" href="{% url 'contact' %}">Contact</a>
        </div>
        <div class="div7-footer-div1">
            <p class="div7-footer-p2">Opening Hours</p>
            <p class="div7-footer-p3">Mon Fri: 9:00 AM 8:00 PM </p>
            <p class="div7-footer-p3">Sat Sun: 10:00 AM - 6:00 PM</p>
        </div>
        <div class="div7-footer-div3">
            <p class="div7-footer-p2">Legal</p>
            <a class="div7-footer-a" href="{% url 'terms' %}">Terms & Conditions</a>
            <a class="div7-footer-a" href="{% url 'privacy' %}">Privacy Policy</a>
        </div>
    </div>

    <div class="icon-btn">
        <a href="https://www.youtube.com/">
            <img src="{% static 'image/youtube.png' %}" class="social-media2">
        </a>
        <a href="https://www.instagram.com/">
            <img src="{% static 'image/instagram.png' %}" class="social-media">
        </a>
        <a href="https://www.linkedin.com/">
            <img src="{% static 'image/linkedin.png' %}" class="social-media">
        </a>
        <a href="https://web.whatsapp.com/">
            <img src="{% static 'image/whatssapp.png' %}" class="social-media">
        </a>
        <a href="https://x.com/">
            <img src="{% static 'image/twitter.png' %}" class="social-media">
        </a>
    </div>

    <div class="footer-div">
        <p class="footer">Copyright © 2024 - 2029 Smartpets | All Right Reserved</p>
      </div>