{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">

<header class="header" id="header">
    <div class="logo-div">
    <div>
        <img src="{% static 'image/logo.png' %}" alt="logo" class="logo">
    </div>
        <p class="name-logo">Smartpets</p>
        
    </div>
    <div >
        <div  class="header-btn" id="header_btn">
            <a class="btn" href="{% url 'dashboard' %}">Home</a>
            <a class="btn" href="{% url 'aboutus' %}">About Us</a>
            <a class="btn" href="{% url 'service' %}">Services</a>
            <a class="btn" href="{% url 'contact' %}">Contact</a>
            <a href="https://play.google.com/store/apps/developer?id=MINDTEK&hl=en">
                <img src="{% static 'image/download.png' %} " class="play-store-img" >
            </a>
        </div>
        <div class="menu-btn-div" id="menu_btn_div">
            <div class="menu-btn-div2">
                <a class="btn" href="{% url 'dashboard' %}">Home</a>
                <a class="btn" href="{% url 'aboutus' %}">About Us</a>
                <a class="btn" href="{% url 'service' %}">Services</a>
                <a class="btn" href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
        <button class="menu-btn" id="menu_btn" onclick="openmenu()">
            <img src="{% static 'image/menu.png' %}" class="menu-img" >
        </button>
        
    </div>
    
</header>
<script>
    function openmenu(){
                
        if (document.getElementById("menu_btn_div").style.display ==="block")
            {   
            document.getElementById("menu_btn_div").style.display="none";
        }
        else
            {
            document.getElementById("menu_btn_div").style.display="block";
        }
                
    }

    document.addEventListener('click', function(event) {
        const popup = document.getElementById('menu_btn_div');
        const overlay = document.getElementById('menu_btn');
    
        if (!popup.contains(event.target) && !overlay.contains(event.target)) {
            if (document.getElementById("menu_btn_div").style.display ==="block")
            {   
            document.getElementById("menu_btn_div").style.display="none";
        }
        }
    });
    
</script>