 {% load  static %} 
<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
       <link rel="stylesheet" type="text/css" href="{% static 'LoginStyle.css' %}">
    </head>
    <body>
      
    <div class="body">
        <div class="welcome">
            <p>Welcome's  To Smart pets</p>
        </div>
        <div class="card ">
            <div class="logo-div" >
                <div>
                    <img src="{% static 'smartpet.png' %}" alt="logo" >
                </div>
            </div>
            <div class="card_div">
                
                <div class="left-flex">
                    <p class="login" id="login" value="0">Login</p> 
                   
                </div>
                <div class="right-flex">
                    <div class="phno-input" >
                        <input type="tel" class="input" id="input"  placeholder="Phone Numer" name="Phoneno">
                    </div>
                    <p class="message" >We will send you an OTP to verify your identity </p>
                </div>
            </div>

            <div class="submit-btn-flex">
                <input type="submit" class="submit-btn" onclick="verification()" id="submit" value="Next">
               
            </div>
            <div class="signin-btn-flex"><p>Don't have an account? </p>
                <a class="signin-link" href="#signin"> Sign Up</a>
            </div>
        </div>
    </div> 
    <script>
        function verification() {
            
            let verify = document.getElementById("login");
            let phno_input = document.getElementById("phno-input");
            let submit_btn_flex=document.getElementById("submit-btn-flex");
            const container = document.createElement('div');
            container.classList.add('otp-box');
            verify.innerText = "OTP Verification";
           
            
            if (input) {
                input.parentNode.removeChild(input);
            }
            
            for (let i = 1; i <= 4; i++) {
                const inputbox = document.createElement('input');
                inputbox.type = 'text';
                inputbox.maxLength = '1';
                inputbox.classList.add('otp-input-box');
                inputbox.addEventListener('input', function() {
                    if (this.nextElementSibling && this.value) {
                        this.nextElementSibling.focus();
                    }
                });
                container.appendChild(inputbox);
            }
            
            document.getElementById("submit").disabled = true;
            document.querySelector('.phno-input').appendChild(container);
            document.getElementById("submit").value="verify"; 
            
            const reload=document.createElement('button');
            reload.addEventListener()
        }
        
    </script>
    </body>
</html>